{% extends 'omdb/layout/base.html.twig' %}

{% block title %}OMDB API Training{% endblock %}

{% block content %}
    {% include('omdb/layout/navbar.html.twig') %}
    <div class="container" style="margin-top: 30px">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="mdi mdi-home"></i> Accueil - Recherche Multiple</li>
            </ol>
        </nav>
        <form action="{{ path('find-multiple') }}" method="get">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="mdi mdi-video-vintage"></i> &nbsp;Nom du film</span>
                        </div>
                        <input type="text" class="form-control" name="movieTitle" placeholder="Saisir nom du film à rechercher">
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-target"></i> Récupérer informations</button>
                </div>
            </div>
        </form>
            {% if responseMovie is defined %}
                {% for searchItem in responseMovie.Search %}
                    {% if searchItem is defined %}
                        {% if searchItem.Title is defined %}
                            <div class="card d-inline-block" style="width: 18rem;">
                                <img class="card-img-top" src="{{ searchItem.Poster }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ searchItem.Title }}</h5>
                                    <p><i class="mdi mdi-calendar-clock"></i> Date de sortie <i>{{ searchItem.Year }}</i></p>
                                    <p>
                                        {% if searchItem.Type == "game" %}
                                            <span class="badge badge-pill badge-primary"><i class="mdi mdi-gamepad-variant"></i> Jeu vidéo</span>
                                        {% elseif searchItem.Type == "movie" %}
                                            <span class="badge badge-pill badge-success"><i class="mdi mdi-video-vintage"></i> Film</span>
                                        {% endif %}
                                    </p>
                                    <a href="{{ path('find-specific', { 'title' : searchItem.Title }) }}"><button class="btn btn-primary">En savoir plus</button></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi mdi-cloud-alert"></i><strong> Une erreur est survenue</strong> <i class="mdi mdi-arrow-right"></i> Aucun film de ce nom là n'existe m'sieur.
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}