{% extends 'omdb/layout/base.html.twig' %}

{% block title %}OMDB API - fiche film{% endblock %}

{% block content %}
    {% include('omdb/layout/navbar.html.twig') %}
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="mdi mdi-home"></i> Accueil > Fiche film > <b>{{ responseMovie.Title is defined ?: "" }}</b></li>
            </ol>
        </nav>

    {% if responseMovie is defined %}
        {% if responseMovie.Title is defined %}
            <div class="jumbotron bg-white">

                {# Pour afficher la confirmation que le mail a bien été envoyé #}
                {% for message in app.flashes('success') %}
                    <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="mdi mdi-email-check-outline"></i> {{ message }}
                    </div>
                {% endfor %}

                <div class="row">

                    <div class="col-md-4">
                        {% if responseMovie.Poster is defined %}
                            <img class="card-img-top img-box-shadow" src="{{ responseMovie.Poster }}" alt="Poster du film">
                            {% else %}
                                <h5>Pas d'image disponible</h5>
                            {% endif %}

                        <!-- <a class="btn btn-warning" href="
{#
                    {{ url('nouveauvote', { 'imdbID' : responseMovie.imdbID, 'note' : 4}) }}"
#}
                    role="button">Voter pour ce film</a> -->

                    </div>

                    <div class="col-md-8">
                        <h1 class="display-4">{{ responseMovie.Title }} - <span style="font-size: 40px"><i>{{ responseMovie.Year }}</i></span></h1>
                        <span><i class="mdi mdi-movie"></i> Réalisé par {{ responseMovie.Director }}</span>
                        <span class="badge badge-dark"><i class="mdi mdi-calendar-clock"></i> {{ responseMovie.Released }}</span>
                        <p class="lead">Avec <i>{{ responseMovie.Actors }}</i></p>
                        <hr class="my-4">

                        <h4><i class="mdi mdi-text-subject"></i> Synopsis</h4>
                        <p>
                            <i>{{ responseMovie.Plot }}</i>
                            {% if responseMovie.Website is defined %}
                                <br>
                                <a href="{{ responseMovie.Website }}">
                                    {{ responseMovie.Website }}
                                </a>
                            {% endif %}
                        </p>
                        <p class="lead mb-4">
                            <span class="badge badge-warning"><i class="mdi mdi-tag-multiple"></i>{{ responseMovie.Genre }}</span>
                        </p>

                        {% if responseMovie.Ratings is defined %}
                            <hr class="my-3">
                            <h4><i class="mdi mdi-star-face"></i> Note des critiques :</h4>
                            <ul class="list-group list-group-flush mb-4">
                                {% for note in responseMovie.Ratings %}
                                    <li class="list-group-item">
                                        {{ note.Source }} : {{ note.Value }}<i class="mdi mdi-star-half"></i>
                                    </li>
                                {% endfor %}
                                <li class="list-group-item">
                                    <i class="mdi mdi-account-heart"></i>
                                    Note du public : {{ avgRating }}/5
                                    <i class="mdi mdi-star-half"></i>
                                </li>
                            </ul>
                        {% endif %}

                        <!-- Partager ce film -->
                        <button class="btn btn-outline-warning mb-2"
                                data-toggle="collapse" data-target="#formulaireMail"
                                type="button" aria-expanded="false" aria-controls="formulaireMail" >
                            <i class="mdi mdi-share-variant"></i>Partager
                        </button>

                        <form id="formulaireMail" class="collapse " action="{{ url('share') }}" method="post" >
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >@</span>
                                </div>
                                <input type="email" class="form-control" name="mailAdress" placeholder="Saisissez votre adresse e-mail" aria-label="Email" aria-describedby="adresse e-mail">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" >Envoyer</button>
                                </div>
                            </div>
                            <input type="hidden"  name="movieId" value="{{ responseMovie.imdbID }}" >
                        </form>

                        <!-- Voter pour un film -->
                        <button class="btn btn-outline-primary mb-2"
                                data-toggle="collapse" data-target="#formulaireVote"
                                type="button" aria-expanded="false" aria-controls="formulaireVote" >
                            <i class="mdi mdi-star-outline"></i> Noter le film
                        </button>

                        <form id="formulaireVote" class="collapse " action="{{ url('nouveauVotePOST') }}" method="post" >
                            <div class="form-group">
                                <select required title="note film" name="note" class="w-75 custom-select">
                                    <option selected>- Donnez votre avis sur le film -</option>
                                    <option value="0">Le pire film du monde</option>
                                    <option value="1">Mauvais</option>
                                    <option value="2">Pas terrible</option>
                                    <option value="3">Pas mal !</option>
                                    <option value="4">Bon film</option>
                                    <option value="5">Excellent, je le recommande.</option
                                </select>
                                <input type="hidden"  name="movieId" value="{{ responseMovie.imdbID }}" >

                                <button class="btn btn-primary" type="submit" >A voté !</button>

                            </div>
                            <input type="hidden"  name="movieId" value="{{ responseMovie.imdbID }}" >
                        </form>


                    </div>
                </div>
            </div>

            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="mdi mdi-cloud-alert"></i><strong> Une erreur est survenue</strong> <i class="mdi mdi-arrow-right"></i> Aucun film de ce nom là n'existe m'sieur.
                </div>
            {% endif %}
            {% endif %}

    </div>

{% endblock %}